@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@keyframes subfade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fly-in-intro {
  from {
    transform: translateY(-50%) translateX(10%) rotate(-15deg);
    opacity: 0;
    font-weight: 100;
  }
  75% {
    transform: rotate(0deg) translateY(0) translateX(10%) scale(1);
    filter: hue-rotate(-25deg);
    opacity: 1;
  }
  to {
    font-weight: 600;
    filter: hue-rotate(0deg);
    transform: scale(1.2);
  }
}

@property --color1 {
  syntax: "<color>";
  initial-value: #660080;
  inherits: false;
}

@property --color2 {
  syntax: "<color>";
  initial-value: #330080;
  inherits: false;
}

@keyframes slide-out {
  from {
    width: 0px;
		padding-inline: 0;
		color: transparent
  }
	to {
		width: 183.5px;
		padding-inline: 4px;
	}
}

@keyframes fade-from-purple {
  from {
    color: var(--color-purple-400) !important;
  }
}

@keyframes change-bg {
  to {
    --color1: #0d4d61;
    --color2: #3ca39c;
  }
}

button,
input[type="url"],
textarea,
select,
input[type="text"],
input[type="password"] {
  border-radius: 0.5rem;
  border: solid 2px;
  height: fit-content;
  min-width: 80px;
  padding: 10px;
  font-size: 14pt;
  margin: 0.25rem 1vw;
  width: 98%;

  transition: all 500ms;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  text-align: center;
  min-width: 90vw;
}

bg {
  height: 100vh;
  display: block;
  overflow: hidden !important;

  button,
  input[type="url"],
  textarea,
  select,
  input[type="text"],
  input[type="password"] {
		padding: 0 15px;
    height: 32px;
  }
}

bg.sparkles {
  background: linear-gradient(0deg, var(--color1) 35%, var(--color2) 100%);
  transition: --color1 500ms, --color2 500ms;
}

bg.sparkles.change-bg {
  animation: change-bg 2s forwards linear;
}

bg.sparkles.creator-fresh {
  --color1: #0d4d61;
  --color2: #3ca39c;
}

h1.intro {
  animation: fly-in-intro 1.5s forwards;
}

h2.intro {
  animation: subfade 500ms 2s forwards;
  opacity: 0;
}

.intro2 {
  animation: slide-out 2s forwards;
	white-space: nowrap;
	overflow: hidden;
}

.from-purple {
  animation: fade-from-purple 2s forwards;
}

.notibox {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(150, 150, 150, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 1rem 1rem 0 0 !important;

  .noti {
    width: 96vw;
    margin: 0.5rem 2vw;
    padding: 0 0.75rem;
    border-radius: 4px;
    border: solid 4px;
  }
}

.second-bg,
.third-bg {
  border-radius: 0.5rem;
  border: solid 2px;
  padding: 4px;
  margin-bottom: 4px;
  transition: all 500ms;
}

.second-bg {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.boxed {
  padding: 0.5rem;
  border-radius: 0 0 1rem 1rem !important;
}

.second-bg.disabled {
  opacity: 0.75;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(50, 50, 50);
    color: white;
  }

  .third-bg,
  input[type="url"],
  textarea,
  select,
  input[type="text"],
  input[type="password"] {
    background-color: rgb(75, 75, 75);
    border-color: rgb(85, 85, 85);
  }

  input[type="url"]:disabled,
  textarea:disabled,
  select:disabled,
  input[type="text"]:disabled,
  input[type="password"]:disabled {
    background-color: rgb(65, 65, 65);
    color: rgb(190, 190, 190);
  }

  .notibox .noti {
    background-color: rgb(125, 125, 125);
    border-color: rgb(100, 100, 100);
  }

  .second-bg,
  button {
    background-color: rgb(100, 100, 100);
    border-color: rgb(75, 75, 75);
  }

  .second-bg.disabled {
    background-color: rgb(65, 65, 65);
  }

  bg.sparkles.creator-pale {
    --color1: #062129;
    --color2: #173f3d;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }

  .third-bg,
  input[type="url"],
  textarea,
  select,
  input[type="text"],
  input[type="password"] {
    background-color: rgb(200, 200, 200);
    border-color: rgb(190, 190, 190);
  }

  input[type="url"]:disabled,
  textarea:disabled,
  select:disabled,
  input[type="text"]:disabled,
  input[type="password"]:disabled {
    background-color: rgb(240, 240, 240);
    color: rgb(90, 90, 90);
  }

  .notibox .noti {
    background-color: rgb(200, 200, 200);
    border-color: rgb(175, 175, 175);
  }

  .second-bg,
  button {
    background-color: rgb(225, 225, 225);
    border-color: rgb(200, 200, 200);
  }

  .second-bg.disabled {
    background-color: rgb(150, 150, 150);
  }

  bg.sparkles.creator-pale {
    --color1: #b8e0ec;
    --color2: #c4efed;
  }
}

hr {
  margin: revert;
}
